{% extends 'base.html' %}

<!-- Title on the browser -->
{% block title %}Login{% endblock title %}

<!-- Navbar content (icon + title ) -->
{% block nav-content%}
<i class="fas fa-stethoscope"></i>&nbsp;&nbsp;Login
{% endblock nav-content%}

<!-- Button in navbar -->
{% block btn-nav %}
<a href="{% url 'frontend' %}" class="btn btn-outline-secondary btn-sm border-light text-light" id="btn-nav">GO BACK</a>
{% endblock btn-nav %}

<!-- Footer (style:color) -->
{% block footer-style %}
    style="color: #a9a9a9; text-decoration:none"
{% endblock footer-style %}


<!-- Page Content -->
{% block content%}
<div class="container mt-5 col-md-5">
    <div class="card p-3 border-dark  ">
        <span class="btn btn-outline-dark mt-3"><i class="fa fa-lock"></i>&nbsp; RESTRICTED ACCESS</span>
        <form method="post" autocomplete="off" novalidate >
            {% csrf_token %}
            <!-- username -->
            <div class="input-group mb-2 mt-5">
                <span class=" btn border-secondary input-group-text icon-width"><i class="fa fa-user-alt"></i></span>
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <!-- password  -->
            <div class="input-group mb-2">
                <span class=" btn border-secondary input-group-text icon-width"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <input type="submit" class="btn btn-primary btn-sm mb-3 mt-4" value="Enter" id="btn-enter">
        </form>
    </div>

    <!-- Message from backend -->
    {% if form.errors %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        swal("Denied !","Enter your data correctly", "error")
    </script>
    {% endif %}

    <!-- Heart Pulse -->
    <center id="heart">
        <i class="text-danger fas fa-heartbeat fa-10x blink_me"></i>
    </center>

</div>
<!-- END // Container -->


{% endblock content%}

