{% extends 'base.html' %}

<!-- Title on the browser -->
{% block title %} All Patients {% endblock title %}

<!-- Navbar content (icon + title ) -->
{% block nav-content%}
<i class="fas fa-hospital-user text-primary"></i>&nbsp;&nbsp;Patients
{% endblock nav-content%}

<!-- Time -->
{% block time %}
    <div class="col-sm">
        <center>
            <span id="clock" style="color: #89cffa"></span>
        </center>
    </div>
{% endblock time %}

<!-- Button in navbar -->
{% block btn-nav %}
<a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm border-light text-light" id="btn-nav">Logout</a>
{% endblock btn-nav %}

<!-- Footer (style:color) -->
{% block footer-style %}
    style="color: #89cffa; text-decoration:none"
{% endblock footer-style %}

<!--Page Content-->
{% block content %}
<div class="container">
    <br><br>
    
    <!-- 'Add Button' and 'Get username' -->
    <div class="d-flex justify-content-between">
        <a href="{% url 'add_patient' %}" class="btn btn-outline-primary btn-sm"><i class="fas fa-plus"></i>&nbsp; Add patient</a>
        <span>
            Welcome: <strong><span class="text-primary">{{ user.get_username }}</span></strong>
        </span>
    </div>

    <!-- Input Search + Button Search + Button Reset -->
    <form action="">
        <div class="input-group input-group-sm mb-3 mt-4">
            <input type="text" name="q" class="form-control" placeholder="Search for...." value="{{ request.GET.q }}">
            <button class="btn btn-secondary"><i class="fas fa-search"></i></button>
            <a href="{% url 'backend' %}" class="btn btn-dark" style="margin-left: 2px;"><i class="fas fa-sync-alt"></i></a>
        </div>
    </form>

    <!-- Table -->
    <center>
        <table class="table table-bordered table-sm" style="text-align: center; font-size: 14px">
            <thead class="table-info">
                <tr>
                    <th style="width: 21%;">Name</th>
                    <th style="width: 15%;">Phone</th>
                    <th style="width: 21%;">Email</th>
                    <th style="width: 8%;">Age</th>
                    <th style="width: 7%;">Gender</th>
                    <th style="width: 18%;">Registered</th>
                    <th style="width: 10%;" colspan="2">Actions</th>
                </tr>
            </thead>
            <!-- Data from backend -->
            <tbody class="table table-striped">
                {% for patient in patients %}
                <tr id="chk_id">
                    <td>{{patient.name}}</td>
                    <td>{{patient.phone}}</td>
                    <td>{{patient.email}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.gender}}</td>
                    <!-- in date year in capital Y and hour represent capital H and minute is small i -->
                    <td>{{patient.created_at | date:'m/d/Y (H:i)' }}</td>
                    <td>
                        <a href="/patient/ {{ patient.id }}" title="Edit" class="btn btn-outline-primary btn-sm"><i class="fas fa-pen"></i></a>
                    </td>
                    <td>
                        <a href="/delete_patient/ {{ patient.id }}" title="Delete" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </center>

    <!-- Pagination -->
    <nav class="mt-4">
        {% if patients.has_other_pages %}
            <ul class="pagination justify-content-left">
                {% if patients.has_previous %}
                    <a href="?page=1" class="btn btn-outline-primary mb-3" style="width: 60px; border-radius: 1px; border: 1px solid #d3d3d3;">First</a>
                    <li class="page-item"><a href="?page={{ patients.has_previous_page_number }}" class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
                {% else %}
                    <li class="page-item disabled"></li>
                {% endif %}

                {% for i in patients.paginator.page_range %}
                    {% if patients.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span></span></li>
                    {% else %}
                        <li class="page-item"><a href=" ?page= {{ i }}" class="page-link">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if patients.has_next %}
                    <li class="page-item"><a href="?page={{ patients.next_page_number }}" class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
                    <a href="?page={{ patients.paginator.num_pages }}" class="btn btn-outline-primary mb-3" style="width: 60px; border-radius: 1px; border: 1px solid #d3d3d3; border-left: none;">Last</a>
                {% else %}
                    <li class="page-item disabled"></li>
                {% endif %}
            </ul>
        {% endif %}
    </nav>

    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script>
                let m = "{{ message }}";
                swal("Perfect", m, "success");
            </script>
        {% endif %}
    {% endfor %}

</div>
<!-- END // container -->

<!-- If no patient, show message -->
<span class="text-danger" id="no-data"></span>

{% endblock content %}